body {
    background-color:#14050F;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
}

#wrapper {
    background: radial-gradient(389.69% 128% at 48.22% 0%, #34091E 0%, rgba(30, 7, 18, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-width: 0 1px;
    border-style: solid;
    border-color: #4A2F07;
    box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.25);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container {
    background-image: url(images/8237e226730d72a2d1565ad7b80d7991.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.logo {
    border-radius: 0px;
    margin: 0 auto;
}

.text {
    font-family: 'Gill Sans MT';
    text-align: center;
    color: #FFFFFF;
    display: flex;
}

.btn:hover {
    background-color:#1E0712;
    color: #FFF8ED;
}

.btn {
    color: black;
    font-family: 'Inter';
    border-width: 1px;
    border-style: solid;
    border-color:#DA9D46;
    background-color:#fff8ed;
    border-radius: 100px;
    text-align: center;
    display: block;
    letter-spacing: 0em;
}

a {
    text-decoration: none;
}

footer {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
}

.fb:hover {
    background-image: url(images/058673f45ae770797525bbc1809f72ab.png);
}

.fb {
    background-image: url(images/b5339c8ae02ad582a99d0de2f47b6f99.png);
}

.inst:hover {
    background-image: url(images/b910307cf41cb52670f0a8ca7712bd07.png);
}

.inst {
    background-image: url(images/0fd15c371d5e91209b45b03de2fb2ce7.png);
}


.spot:hover {
    background-image: url(images/afa4c98b7b1f8bdb77586089b6ee2574.png);
}

.spot {
    background-image: url(images/6eec585fd73224e9c70951d482f4761a.png);
}

.line {
    width: 100%;
    height: 15px;
    background-color:#FFF8ED;
    display: flex;
    margin: 0 auto;
    box-shadow: 1px 1px 0 #4A2F07 inset, -1px -1px 0 #4A2F07 inset;
}

@media only screen and (min-width: 280px) {
    #wrapper {
        max-width: 278px;
        height: 600px;
        padding: 5px 0;
        margin-top: 0;
    }

    .container {
        width: 280px;
        height: 100px;
        margin-top: -15px;
        background-size: 600px;
    }

    .logo {
        height: 90px;
        width: 90px;
        margin-top: 8px;
    }

    .text {
        height: 30px;
        width: 284px;
        margin-top: -12px;
        margin-bottom: 17px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    .btn {
        width: 240px;
        padding: 14px 0;
        margin-bottom: 14px;
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
    }

    .logoMin {
        height: 40px;
        width: 40px;
        margin-top: 17px;
    }

    .fb,
    .inst {
        background-size: 40px;
        margin-right: 15px;
    }

    .spot,
    .spot:hover,
    .inst:hover,
    .fb:hover {
        background-size: 40px;
    }
}

@media only screen and (min-width: 360px) {
    #wrapper {
        max-width: 358px;
        height: 600px;
        padding: 10px 0;
        margin-top: 0;
    }

    .container {
        width: 360px;
        height: 100px;
        margin-top: -15px;
        background-size: 670px;
    }

    .logo {
        height: 90px;
        width: 90px;
        margin-top: 8px;
    }

    .text {
        height: 30px;
        width: 284px;
        margin-top: -12px;
        margin-bottom: 17px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    .btn {
        width: 255px;
        padding: 14px 0;
        margin-bottom: 14px;
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
    }

    .logoMin {
        height: 40px;
        width: 40px;
        margin-top: 17px;
    }

    .fb,
    .inst {
        background-size: 40px;
        margin-right: 15px;
    }

    .spot,
    .spot:hover,
    .inst:hover,
    .fb:hover {
        background-size: 40px;
    }
}

@media only screen and (min-width: 480px) {
    #wrapper {
        max-width: 478px;
        height: 700px;
        padding: 15px 0;
        margin-top: 0;
    }

    .container {
        width: 480px;
        height: 100px;
        margin-top: -6px;
        background-size: 900px;
    }

    .logo {
        height: 130px;
        width: 130px;
        margin-top: 10px;
    }

    .text {
        height: 30px;
        width: 360px;
        margin-top: -6px;
        margin-bottom: 25px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
    }

    .btn {
        width: 345px;
        padding: 16px 0;
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
    }

    .logoMin {
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }

    .fb,
    .inst {
        background-size: 50px;
        margin-right: 18px;
    }

    .spot,
    .spot:hover,
    .inst:hover,
    .fb:hover {
        background-size: 50px;
    }
}

@media only screen and (min-width: 535px) {
    #wrapper {
            width: 535px;
            height: 900px;
            padding: 61px 0;
            margin-top: -8px;
    }

    .container {
        background-size: 900px;
        height: 245px;
        width: 472px;
        margin-top: -70px;
    }

    .logo {
        height: 145px;
        width: 145px;
    }

    .text {
        height: 50px;
        width: 384px;
        margin-top: -65px;
        margin-bottom: 30px;
        line-height: 16.24px;
        font-size: 14px;
    }

    .btn {
        width: 350px;
        padding: 17px 0;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .logoMin {
        height: 58px;
        width: 58px;
        margin-top: 20px;
    }

    .fb,
    .inst {
        background-size: 58px;
        margin-right: 20px;
    }

    .spot,
    .spot:hover,
    .inst:hover,
    .fb:hover {
        background-size: 58px;
    }
}